.footer {
    display: flex;
    display: flex;
    width: 100%;
    height: 24.875rem;
    padding: 3.875rem;
    justify-content: space-center !important;
    align-items: center;
    gap: 4.63475rem;
    flex-shrink: 0;
    background-color: #f9f9f9;
}